@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import "_variables";

html{
    font-size: 16px;
    line-height:1.5;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}
main {
    box-sizing: border-box;
    hyphens: auto;
    line-height: 1.65;
    margin: 0 auto;
    max-width: 680px;
    min-height: 100vh;
    padding: 32px 0;
    z-index: 1;
    text-align:center;

    &.easyMain{
        max-width: 940px;
    }
    
}

article{
    text-align:left;
}

body { 
    margin: 0;
    font-family: 'Hind Guntur', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    padding: 60px 8em;
    border-bottom: 2px solid $black;
}

h1 {
    font-size: 2.81rem;
    font-family: 'Quicksand', sans-serif;
    color: $grey;
    padding: 0;
    margin: 0;

    @media (max-width: 700px) {
        max-width: 320px;
    }
}
h2 {
    margin-bottom: 1.5em;
    font-size: 2.1rem;
    color: $grey;
}
h3 {
    font-size: 2.1rem;
    margin:0;
    color: $grey;
}

p {
    font-size: 1.2rem;
}

a{
    color: $black;
    text-decoration: none;
    transition: all 115ms linear 0s;

    &:hover{
        text-decoration: underline;
        color: $grey;
        transition: all 115ms linear 0s;
    }
}

h1 {
    a {
        color: $grey;
        &:hover{
            text-decoration: none;
            color: #342983;
        }
    }
}

li{
    font-size: 1.2rem;
}

.p-large{
    font-size: 1.25rem;
}

.p-small{
    font-size: 0.8rem;
}

.p-intro{
    margin-top: 35px;
    font-size: 1.375rem;
}

.card {
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 3vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px 0px;
    margin: 40px 0;
    text-align:center;
    position: relative;
    z-index: 1;

    @media (max-width: 700px) {
        padding: 5vw;
    }



    a{
        &:after {
            background-image: url(../images/arrow-right.svg);
            content:'';
            width: 18px;
            height: 11px;
            display: inline-block;
            position: relative;
            margin-top:12px;
            margin-left:8px;
            transition: all 200ms ease-out 0s;
        }
    
        &:hover {
            &:after {
                margin-left: 15px;
                transform: translateX( 10% );
            }
        }
    }
}

.stretched-link {
    position: initial !important;
    &::before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      // Just in case `pointer-events: none` is set on a parent
      pointer-events: auto;
      content: "";
      // IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color
      background-color: rgba(0, 0, 0, 0);
    }
  }

.spacer{
    padding-top: 24px;
    margin-bottom: 64px;
    margin-top: 32px;
    justify-content: center;
    display: flex;
    span{
        margin-right: 20px;
        width: 3px;
        height: 3px;
        background-color: rgb(8, 8, 8);
        display: inline-block;
        border-radius: 50%;
    }
}

.easy{
    display:flex;
    padding: 25px;
    text-align:left;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.easyHeader{
    background: #ff9250;
    border: 11px solid transparent;
    border-radius: 35px 0px 0px 35px;
    padding: 35px;
    color: white;
    font-weight:700;
    width:50%;


    p{
        font-size: 33px;
    }

    @media (max-width: 768px) {
        width:auto;
        border-radius: 35px 35px 0px 0px;
    }
}

.easyText{
    background: white;
    padding: 25px;
    font-weight:400;
    font-size: 20px;
    border: 4px solid #ff9250;
    border-radius: 0px 35px 35px 0px;
    width:50%;
    
    div{
        margin: 0 90px;
    }

    p{
        font-weight: 700;
        span{
            font-weight: 400;
    
        }
       &.p-larger{
           font-size: 24px;
       } 
    }
    @media (max-width: 768px) {
        width:auto;
        border-radius: 0px 0px 35px 35px;
        div{
            margin: 0;
        }
    }
}

.gatsby-image-wrapper{
    margin: 0 auto;
}

@media (max-width: 768px) {
    main {
        margin: 0 9vw;
    }
    header {
        padding: 7vw 9vw;
    }
}

article{
    h1{
        font-family: 'Hind Guntur', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
      margin: 2rem 0;
    }
    h2{
        margin: 4rem 0;
    }
    li{
        margin: 1.5rem 0;
    }
    a{
        text-decoration: underline;
    }
}